node_modules

# GitHub configurations
.github

# Build folder
build

# Development configurations (except csp settings)
*.yml
.*rc

# Project settings (must be included)
!csp.yml
!.yarnrc

# Logs
*.log
